-
    function errMsg(field) {
    let result = "";
    if (errors) {
        errors.forEach((error) => {
        if (error.param === field) {
            result = error.msg;
        }
        });
    }
    return result;
    }
