-
    function errMsg(field) {
    let result = "";
    if (errors) {
        errors.forEach((error) => {
        if (error.param === field) {
            console.log(error.msg);
            result = error.msg;
        }
        });
    }
    return result;
    }
