extends layout
block content
    
    form(action="" method='POST' class='form')
        h1 Become Member
        div 
            h3 Ok, what membership status u want to have?
            label(for='Admin') Admin
            input(type="radio" name="role" value="Admin")
            label(for="Member") Member
            input(type="radio" name="role" value="Member")
        if wrongAnswer 
            h3 Ops, wrong answer... try again?
        h3 Answer this question or get a 
            a(onclick='window.location.reload()') new question
        label(for='riddle')= question.question
        select(required name='riddle')
          each answer in answersArr
            option(value=`${answer}`)=answer
        button(type='submit') Submit
    