nav
    ul
        li
            h1 
                a(href='/') Exclusive Club
        if currentUser
            li
                    a(href='/log-out') Log-out
        else
            li(class='nav-buttons')
                a(href='/log-in') Log in
                a(href='/sign-up') Sign up
            