nav
    ul
        li
            h1 
                a(href='/') Exclusive Club
        div
            if currentUser
                li
                    a(href='/log-out') Log-out
            else
                li
                    a(href='/log-in') Log-in
            