h1 Sign-Up
form(action="/sign-up" method='POST')
    label(for='username') Name:
    input(type='text' required name='username')
    label(for='email') Email:
    input(type='email' required name='email')
    label(for='password') Password:
    input(type='password' required name='password')
    label(for='confirm-password') Confirm Password:
    input(type='password' required name='confirm-password')
    button(type='submit') Submit
    